<ion-app>
  <ion-split-pane contentId="main-content">
    
      <ion-menu contentId="main-content" type="overlay">
        <ion-content>
          <ion-list id="inbox-list">

            <ng-container *ngIf ="user$ | async as user">
              <ion-list-header>Bienvenid@</ion-list-header>
            <ion-note>{{user.email}}</ion-note>
            </ng-container>

            <ion-menu-toggle auto-hide="false">
              <ion-item routerLink="/home" >
                <ion-icon slot="start" name="home"></ion-icon>
                <ion-label>Home</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="false">
              <ion-item routerLink="/proveedor" >
                <ion-icon slot="start" name="people"></ion-icon>
                <ion-label>Proveedores</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="false">
              <ion-item routerLink="/trabajo">
                <ion-icon slot="start" name="reader"></ion-icon>
                <ion-label>Horarios y Funciones</ion-label>
              </ion-item>
            </ion-menu-toggle>
            
            <ion-menu-toggle auto-hide="false">
              <ion-item routerLink="/stock" >
                <ion-icon slot="start" name="basket"></ion-icon>
                <ion-label>Stock</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="false">
              <ion-item (click)="logout()">
                <ion-icon slot="start" icon="log-out"></ion-icon>
                <ion-label>Cerra Sesión</ion-label>
              </ion-item>
            </ion-menu-toggle>

          </ion-list>

          
        </ion-content>
      </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
